*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  display: flex;
  justify-content: center;
  background-color:rgb(70, 3, 3);
}
.container {
  width: 100%;
  height: 100vh;
  padding: 3rem 6rem;
}
#input_text, #text_area{
  width: 80%;
  padding: 1rem;
  font-size: 1.2rem;
}
#input_submit {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: .8rem 2rem;
  border: none;
  background-color: green;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
}
#input_submit:hover {
  background-color: rgb(108, 179, 108);
}
#input_submit:active {
  background-color: green;
}
.errorText {
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
}
.text_li {
  background-color: wheat;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: .5rem;
  color: rgb(70, 3, 3);
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
}

.button_del {
  padding: .7rem 1rem;
  background-color: orangered;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
.button_del:hover {
  background-color: orange;
}
